In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
housing_df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv")
housing_df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## Question 1

In [3]:
# Pandas version
version = pd.__version__
print(f"The pandas version is {version}")

The pandas version is 1.5.3

## Question 2

In [4]:
columns = housing_df.shape[1]
print(f"The number of columns is {columns}")

The number of columns is 10

## Question 3

In [5]:
# Missing columns
housing_df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Question 4

In [6]:
# unique values
unique_values = housing_df["ocean_proximity"].nunique()
print(f"The number of unique values in the ocean proximity is {unique_values}")

The number of unique values in the ocean proximity is 5

## Question 5

In [7]:
average = housing_df[housing_df["ocean_proximity"]== "NEAR BAY"]["median_house_value"].mean()
print(f"The mean for the Near Bay house price is {round(average, 2)}")

The mean for the Near Bay house price is 259212.31

## Question 6

1. Calculate the average of total_bedrooms column in the dataset.
2. Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
3. Now, calculate the average of total_bedrooms again.
4. Has it changed?

In [8]:
# Average of the total bedrooms
avg_bedrooms = housing_df["total_bedrooms"].mean()
print(f"The average number of bedrooms is {avg_bedrooms}")

avg_bedrooms_nw = housing_df["total_bedrooms"].fillna(float(housing_df["total_bedrooms"].mean())).mean()
print(f"The average number of the imputed bedrooms is {avg_bedrooms_nw}")

avg_bedrooms == avg_bedrooms_nw

The average number of bedrooms is 537.8705525375618
The average number of the imputed bedrooms is 537.8705525375617

False

## Question 7
1. Select all the options located on islands.
2. Select only columns housing_median_age, total_rooms, total_bedrooms.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [950, 1300, 800, 1000, 1300].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the value of the last element of w?

In [9]:
# Step 1
island_houses = housing_df[housing_df["ocean_proximity"]== "ISLAND"]

# Step 2
island_houses =island_houses[["housing_median_age",
               "total_rooms",
               "total_bedrooms"]]

# Step 3
X = island_houses.to_numpy()

# Step 4
XTX = np.matmul(X.transpose(), X)

# Step 5
inverse = np.linalg.inv(XTX)

# Step 6
y =  [950, 1300, 800, 1000, 1300]

# Step 7
w = np.matmul(inverse, X.transpose())
w = np.matmul(w, y)

# step 8
w[-1]

5.699229455065586